{% extends 'index.html' %}
{% block navbar %}
    <nav class="navbar navbar-expand-lg" style="background: #a71d2a" id="nav1">
        <a href="{% url 'home' %}" class="navbar-brand text-white">FindIT...</a>
        <ul class="navbar-nav ">
             <li class="nav-item"><a href="{% url 'college' %}" class="nav-link text-dark text-uppercase ml-5"> <strong>Colleges</strong></a></li>
             <li class="nav-item"><a href="" class="nav-link text-dark text-uppercase ml-5"> <strong>University</strong></a></li>
             <li class="nav-item"><a href="{% url 'exam' %}" class="nav-link text-dark text-uppercase ml-5"> <strong>Exams</strong></a></li>
             <li class="nav-item"><a href="{% url 'review' %}" class="nav-link text-dark text-uppercase ml-5"> <strong>Review</strong></a></li>
             <li class="nav-item"><a href="" class="nav-link text-dark text-uppercase ml-5"> <strong>More</strong></a></li>
        </ul>

        <ul class="navbar-nav ml-auto">
             {% if 'login' not in request.session %}
                <a href="#login" class="btn btn-sm text-white" id="btn1" data-toggle="modal">LOGIN</a>
                <a href="#signup" class="btn btn-sm text-white" id="btn2" data-toggle="modal">SIGNUP</a>
            {% else %}
                 <li class="nav-item"><a href="" class="nav-link text-white ml-3"> <strong>{{ user.student_name }}</strong></a></li>
                 <a href="{% url 'logout' %}" class="btn btn-sm bg-success text-white">LOGOUT</a>
            {% endif %}
        </ul>
    </nav>

    <nav class="navbar navbar-expand-md navbar-dark py-0 bg-dark" >
            <ul class="navbar-nav ml-1">
                <a href="" class="nav-item"><li class="nav-link"><strong>Home</strong></li></a>
                {% for foo in category %}
                <li class="nav-item ml-4 ">
                    <a class="nav-link" href="{% url 'exam_cat' foo.cat_id %}"><strong>{{ foo.cat_name }}</strong></a>
                {% endfor %}
                </li>
            </ul>
        </nav>
{% endblock %}

{% block jumbo %}
{%  load static %}
    <img src="{% static '29293-___paper-notebook-pen-and-book-hd.jpg' %}" alt="" width="100%" height="550px">
    <div id="slider-text" style="left: 3%; top: 40%">
       <h2><strong>Entrance Exams</strong> | In India</h2>
        <form action="" class="mx-auto">
            <div class="form-group">
                {% csrf_token %}
                <div class="row align-items-center">
                    <div class="col-lg-12 mt-5">
                        <input type="search" placeholder="Search by college and course" class="form-control form-control-lg"size="50px" name="search">
                        <input type="submit" class="btn btn-danger btn-sm" hidden>
                    </div>
                </div>
            </div>
        </form>
   </div>
{% endblock %}
{% block container1 %}

{% endblock %}

{% block container2 %}
     <div class="section-header"><h3 style="font-size: 35px; margin-top: 0px">Upcoming Exams</h3></div>
     <div class="container-fluid">
         <div class="row">
             <div class="col-sm-9 mt-4">
               {% for exam in exams %}
                <div class="card mt-4" style="background: #f4f4f4;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); ">
                    <div class="card-body">
                        <a href="{% url 'exam_view' exam.e_id %}"><h2>{{ exam.exam_title }} {{ exam.exam_name }}</h2> </a>
                        <span class="text-muted">{{ exam.content }}</span>
                        <p class="text-dark"><strong>Exam Date - {{ exam.date_of_exam }}</strong></p>
                        <p class="text-dark p-0"><strong>Exam Fee - {{ exam.application_fee }}/-</strong></p>
                        <p class="text-dark"><strong>Application Date - {{ exam.application_date }}</strong></p>
                        <p class="text-dark"><strong>Result Date - {{ exam.release_date }}</strong></p>
                    </div>
                </div>
               {% endfor %}
           </div>
             <div class="col-sm-3 mt-4">
                <div class="list-group mt-4 overflow-auto" >
                <a href="" class="list-group-item list-group-item-action list-group-flush bg-secondary text-center text-uppercase text-white ">Upcoming Exam</a>
                {% for e in exams %}
                    <a href="" class="list-group-item list-group-item-action text-center small">{{ e.exam_title }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
   </div>
{% endblock %}

{% block container %}

{% endblock %}
{% block bottom %}

{% endblock %}
