<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
<nav class="navbar navbar-expand-md sticky-top" style="background: #a71d2a">
    <a href="{% url 'dashboard' %}" class="navbar-brand text-white">FIND IT</a>
    <ul class="navbar-nav ml-auto">
        <a href="" class="nav-item"><li class="nav-link text-white">Home</li></a>
    </ul>
</nav>
</head>
<body style="background: lavender">
{% load crispy_forms_tags %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                 <h1>College</h1>
                    <form action="{% url 'insert' %}"method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ form|crispy }}
                        <tr><th><input type="submit" class="btn btn-dark mb-3"></th></tr>
                </form>
            </div>
        </div>
    </div>
</body>
</html>